*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }

  /* **********HEADER********** */
  .encabezado{
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    top: 0;
    margin-top: -3rem;
  }

  nav ul{
    display: flex;
    margin: .8rem;
    list-style: none;
  }
  
  nav ul li a{
    position: relative;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffff;
    text-shadow: 2px 2px 2px #0e1538,
    2px 2px 2px #0e1538;
    text-decoration: none;
  }

  nav ul li a:before{
    content:'';
    background: #ff22bb;
    position:absolute;
    bottom:-4px;
    width: 0;
    height: 4px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

  nav ul li a:hover::before{
    width: 100%;
}

/* **********BANNER PRINCIPAL********** */
.principal{
  background-image: url("/assets/sunrise-g9c4c9076c_1920.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.presentacion{
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #0e1538;
  font-size: 1.5rem;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
}

@font-face {
  font-family: facb;
  src: url("/assets/Alexana.ttf");
}
.presentacion h2{
  font-size: 5rem;
  font-family: facb;
}
h3{
  font-size: 1.2rem;
  font-family: facb;
  margin: .8rem;
  
}

/* **********ABOUT ME********** */

.about{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #0e1538;
}

.about article{
  border: 5px solid #22ffe2;
  height: 60vh;
  margin: 15vh auto;
}

.about article img{
  width: 100%;
  height: 100%;
  position: relative;
  top: -2rem;
  left: 2rem;
}

.about section{
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:flex-start;
  color: #ffff;
}

.about section h4{
  font-size: 2rem;
  position: relative;
  bottom: 2rem;
  border-bottom: solid 4px #22ffe2;
}

.about section p{
  text-align: justify;
  width: 70%;
}

.about section .adhesivo{
  position: relative;
  bottom: 3.5rem;
  left: 60%;
  z-index: 1;
  padding: 3rem;
  border-right: 4px solid #22ffe2;
  border-bottom: 4px solid #22ffe2;
}

/* **********BANNER PROJECTS********** */
.banner{
    --angle: 0deg;
    font-size: 5rem;
    text-align: center;
    padding: 0 auto;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    background: rgb(0,212,255);
    background: linear-gradient(var(--angle), rgba(0,212,255,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    animation: 5s rotate linear infinite;
    -webkit-animation: 5s rotate linear infinite;
}

@keyframes rotate {
    to {
      --angle: 360deg;
    }
  }


/* **********PROJECTS********** */
.container{
      display: flex;
      flex: 1;
      width: 100%;
      height: 100%;
      background-color: #0e1538;
  }

  .container a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #02686f  ;
  padding: 1rem 1rem;
  margin: 2rem 1rem;
  transition: 1s;
  text-decoration: none;
  overflow: hidden;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004); */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.container a:hover{
  background: #ff22bb;
  box-shadow: 0 0 10px #ff22bb,
  0 0 25px #ff22bb,
  0 0 50px #ff22bb,
  0 0 70px #ff22bb;
}

.container a::before{
  content: '';
  position: absolute;
  width: 40px;
  height: 400%;
  background: #ff22bb;
  animation: animate 2s linear infinite;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-animation: animate 2s linear infinite;
}

.container a:hover::before{
  width: 100%;
}

@keyframes animate {
  0%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
100%{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
}

.container a::after{
  content: '';
  position: absolute;
  inset: .2rem;
  background: #09cac7  ;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.container a:hover::after{
  background: #ff22bb;
}

.container a span{
  position: relative;
  z-index: 1;
  font-size: 2rem;
  color: #ffff;
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.container a:hover span{
  opacity: 1;
}