*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background: url('./background.jpg') bottom center;
    background-size: cover;
  }


body{
    /* overflow: hidden; */
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    position: relative;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 60px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.drum-key{
    border: .5rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 12rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    -webkit-transition: all .07s ease;
    -moz-transition: all .07s ease;
    -ms-transition: all .07s ease;
    -o-transition: all .07s ease;
}

.bright{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

kbd{
    display: block;
    font-size: 4rem;
}

span{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

.btnHome{
    position: absolute;
    top: 20px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 85px;
    height: 30px;
    padding: 5px 8px;
    background-color: #ffc600;
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #fff;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    font: 600 15px Helvetica, Sans-Serif;
}

@media only screen and (min-width: 768px) {
    .container{
        padding-top: inherit;
    }
}