*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spacing:10px;
    --blur:5px;
    --base:#8e928f;
}

body{
    font-size: 3rem;
    background: #080335;
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2rem;
}

h2{
    margin-bottom: 2rem;
}

h2 span{
    color: #f5f10e;
    font-size: 5rem;
}

.container{
    margin-bottom: 3rem;
}

input{
    width: 100px;
    cursor: pointer;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    -webkit-filter: blur(var(--blur));
    width: 60vw;
    height: 70vh;
}