*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spacing:10px;
    --blur:5px;
    --base:#8e928f;
}

body{
    background: #080335;
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2rem;
    max-width: 1440px;
    margin: 0 auto;
}

h2{
    margin-bottom: 2rem;
    font-size: 20px;
}

h2 span{
    color: #f5f10e;
    font-size: 25px;
}

.container{
    margin-bottom: 3rem;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input{
    width: 100px;
    cursor: pointer;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    -webkit-filter: blur(var(--blur));
    width: 60vw;
    height: 70vh;
    object-fit: cover;
}

.btnHome{
    margin: 0px auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    width: 85px;
    height: 30px;
    padding: 5px 8px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEEB), color-stop(100%,#4682B4));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #fff;
    border: 1px solid #62C2F9;
    border-radius: 10px;
    font: 600 15px Helvetica, Sans-Serif;
}

@media only screen and (min-width:768px) {
    h2{
        font-size: 50px;
    }
    
    h2 span{
        font-size: 60px;
    }
    
    .container{
        font-size: 40px;
    }

}