*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --shadow-color: 283deg 3% 48%;
    --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

header{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 60px;
    position: relative;
}

.header_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header_ul{
    display: none;
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 10px;
    position: absolute;
    top: 60px;
    right: 5px;
    gap: 10px;
}

.header_ul.active{
    display: flex;
}

.header_li{
    font-size: 1.2rem;
}

.header_li a{
    text-decoration: none;
    color: #000;
}

.header_li a:hover{
    color: red;
}

.fa-shopping-cart{
    color: red;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.slide{
    background-image: url("/TiendaGamer/img/BannerEscritorio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
}

.slide_title{
    font-size: 40px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.slide_title-span{
    color: red;
}

.slide_shopping{
    cursor: pointer;
    background: rgb(255,2,2);
    background: linear-gradient(90deg, rgba(255,2,2,1) 9%, rgba(121,9,9,1) 48%, rgba(255,0,0,1) 97%);
    border-radius: .5rem;
    border: none;
    color: white;
    width: 9rem;
    height: 3rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.products{
    text-align: center;
    align-self: center;
    color: silver;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.products_title{
    font-size: 3.5rem;
    margin: 2rem 0;
    color: black;
}

.products_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    width: 100%;
    max-width: 1100px;
    margin: 0px auto 30px;
    padding: 20px 0px;
}

.card_item{
    cursor: pointer;
    align-self: center;
    background-color: white;
    width: 90%;
    box-shadow: var(--shadow-elevation-medium),var(--shadow-elevation-medium);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card_item-img{
    margin: 20px;
    width: 40%;
}

.card_item-hr{
    background-color: silver;
}

.card_item-precio{
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.card_item-cuotas{
    color: black;
    font-size: 1rem;
    font-weight: 400;
}

.card_item-envio{
    color: #619D00;
    font-size: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.banner{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner_container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.banner_item{
    width: 100%;
    max-width: 400px;
    position: relative;
    cursor: pointer;
}

.banner_item-img{
    width: 80%;
    box-shadow: var(--shadow-elevation-medium);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.banner_item-p{
    position: absolute;
    bottom: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.footer{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background: #222222;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 10px;
    height: 90px;
    font-size: 15px;
    text-align: center;
}

.footer .footer_logo img{
    width: 100px;
}

.footer_redes-p{
    margin-bottom: .5rem;
}

.fab{
    margin: 0 1rem;
}

.fa-facebook-f{
    color: #1476D0;
}

.fa-twitter{
    color: #14AED0;
}

.fa-instagram{
    color: #CE0CFF;
}

.lower_footer{
    background-color: #C4C4C4;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 25px;
    text-align: center;
    padding: 2px;
}

.btnHome{
    position: absolute;
    top: 20px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    width: 85px;
    height: 30px;
    padding: 5px 8px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEEB), color-stop(100%,#4682B4));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #fff;
    border: 1px solid #62C2F9;
    border-radius: 10px;
    font: 600 15px Helvetica, Sans-Serif;
}

@media only screen and (min-width: 768px) {

    .header__toggle{
        display: none;
    }

    .header_ul{
        display: flex;
        flex-direction: row;
        position: inherit;
        background-color: transparent;
        border: none;
    }

    .header_li a{
        text-decoration: none;
        color: #fff;
    }

    .slide_title{
        font-size: 65px;
    }

    .products_cards{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card_item{
        width: 340px;
    }

    .banner_container{
        flex-direction: row;
    }
    
    .banner_item{
        width: 50%;
        max-width: 500px;
    }

    .banner_item-p{
        font-size: 40px;
        font-weight: 600;
    }

    .footer .footer_logo img{
        width: 220px;
    }

    .footer_redes-p{
        font-size: 20px;
        margin-bottom: inherit;
    }

    .footer i{
        font-size: 30px;
        margin: 10px;
    }

    .lower_footer{
        font-weight: 600;
    }

}